body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    width: 80%;
    margin: auto;
}

h1 {
    color: #ff8c00;
    margin-bottom: 20px;
}

#searchInput {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 20px;
    border: 2px solid transparent;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 140, 0, 0.5), 0 0 20px rgba(255, 140, 0, 0.5), 0 0 30px rgba(255, 140, 0, 0.5);
    background-clip: padding-box;
    background-color: #000;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #ff8c00;
}

tbody tr {
    border-bottom: 1px solid #fff;
}

tbody tr:last-child {
    border-bottom: none;
}

tbody tr:nth-child(even) {
    background-color: #333;
}

tbody tr:hover {
    background-color: #555;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff8c00;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #ff6500;
}